openapi: 3.0.0
info:
   version: 1.0.0
   title: Estate Agent API
   description: A simple estate agent API.
   contact:
      name: Josh Taylor
      email: taylorj12@coventry.ac.uk
   license:
      name: Apache 2.0
      url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
   - url: 'https://geminirainbow-sizeemail-3000.codio-box.uk/api/v1'
     description: Development server
tags:
   - name: Users
     description: API endpoints for user management.
   - name: Agents
     description: API endpoints for agent management.
   - name: Properties
     description: Access and perform CRUD operations on properties.
paths:
   /users:
      summary: Represents an individual user
      description: >
            This resource represents an individual user in the system.
            Each user is identified by a numeric `id`.
      get:
         tags:
            - Users
         description:
            Get all users in database.
         responses: 
            '201':
               description: View of a users record, excluding password.
            '404': 
               description: User was not found in the db.
            '403':
               description: User not verified to look at resource.
      post:
         tags:
            - Users
         description:
            Create a new user.
         requestBody:
            description: All new user data.
            required: true
            content:
               application/json:
                  schema:
                     $ref: ./users.json#/definitions/user
         responses:
            '201':
               description: User record successfully created.
               content:
                  application/json:
                     schema:
                        $ref: ./users.json#/definitions/userCreated
   /users/{id}:
      parameters:
         - in: path
           name: id
           schema:
               type: integer
           required: true
           description: Numeric id of the user.
      get:
         tags:
            - Users
         description: 
            Get user by id
         responses:
            '201':
               description: View of a users record, excluding password.
            '404': 
               description: User was not found in the db.
            '403':
               description: User not verified to look at resource.
      put:
         tags:
            - Users
         description:
            Update user by id
         responses:
            '403':
               description: User not verified to use resource.
            '201':
               description: User record updated successfully.
            '404': 
               description: User was not found in the db.
      del:
         tags:
            - Users
         description:
            Delete user by id
         responses:
            '403':
               description: User not verified to use resource.
            '201':
               description: User record deleted successfully.
            '404': 
               description: User was not found in the db.
   /users/login:
      post:
         tags:
            - Users
         description:
            Login user by username and password.
         responses:
            '201':
               description: User successfully logged in and jwt issued.
            '404': 
               description: User was not found in the db.
            '401':
               description: Wrong password entered.
